<div class="row">
  <div class="col-md-12">
    <h3>Git Workshop Day</h3>
    <table class="table table-striped">
      <tr>
        <td>09:30</td>
        <td>Installation Problems and Review Questions</td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:45</td>
        <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td>
      </tr>
      <tr>
        <td>11:45</td>
        <td><a href="https://swcarpentry.github.io/git-novice/">Git and Directories</a></td>
      </tr>
      <tr>
        <td>12:45</td>
        <td><a href="https://swcarpentry.github.io/git-novice/">Recap and Conflicts</a></td>
      </tr>
      <tr>
        <td>13:45</td>
        <td>Post-workshop Survey</td>
      </tr>
      <tr>
        <td>14:30</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>14:45</td>
        <td>Wrap-up and End</td>
      </tr>
      <tr>
        <td>15:30</td>
        <td>End of Workshop</td>
      </tr>
    </table>
  </div>
</div>
