<div class="row">
  <div class="col-md-12">
    <h3>Git Workshop Day</h3>
    <table class="table table-striped">
      <tr>
        <td>12:30 pm</td>
        <td>Installation Problems and Review Questions</td>
      </tr>
      <tr>
        <td>12:50 pm</td>
        <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td>
      </tr>
      <tr>
        <td>2:00 pm</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>2:15 pm</td>
        <td><a href="https://swcarpentry.github.io/git-novice/">Git and Directories</a></td>
      </tr>
      <tr>
        <td>3:20 pm</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>3:35 pm</td>
        <td><a href="https://swcarpentry.github.io/git-novice/">Recap and Conflicts</a></td>
      </tr>
      <tr>
        <td>5:00 pm</td>
        <td>End / <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
